# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# macOS
.DS_Store

# Poetry
.poetry/
.venv/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Editor
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo
